<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>sk-websocket-gyrogame</title>
    <link rel="stylesheet" href="css/style.css">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">

    <script src="lib/jquery-3.4.1.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>

    <script type="text/javascript">
      var socket = io.connect();
    </script>

    <script type="text/javascript" src="js/admin.js"></script>
  </head>

  <body id="page-admin">

    <div id="gamepad">
      <div id="score">
        0
      </div>
      Tilt your phone to play!
    </div>

  </body>
</html>
